@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.image_caption {
  font-family: "Caveat", cursive;
  font-size: 1em;

  margin-bottom: 2em;
}

.text_content {
  margin-bottom: 4em;
}

.alchohol_title {
  font-weight: 800;
  margin-top: 0.2em;
}

.alchohol {
  margin-top: 0.2em;
  font-weight: 600;
}

.first_brewed_title {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-weight: 800;
}

.first_brewed_content {
  font-weight: 600;
}

.beer_image {
  width: 11em;
  height: 30em;
}

.not_available {
  width: 65%;
  height: 90%;
  border-radius: 0.4em;
}

.tagline {
  margin: 1em 0em 1em 0em;
  font-weight: 600;
}

.card_container {
  margin: 5em;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.card_container:hover {
  cursor: pointer;
}

.name {
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 0.1em;
  margin-top: 0.4em;
}

.beer_description {
  font-size: 1em;
  overflow: hidden;
  line-height: 1rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  margin-bottom: 0.5em;
}

.brewers_tips_hd {
  font-weight: 600;
}

.brewers_tips_content {
  margin-bottom: 1em;
}

.food_pairing_title {
  font-weight: 600;
  margin-bottom: 1em;
}

.image_container {
  margin-left: 1em;
  margin-right: 1.8em;
}

/* .container {
  height: 1000px;
} */

.recipes {
  font-weight: 800;
  list-style-type: none;
}
.recipes:hover {
  color: #0473f2;
}

.description_hd {
  font-weight: 600;
  margin-top: 1em;
}

.recipes_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.recipes_header {
  text-align: center;
  margin: 1em;
  font-weight: 600;
  font-size: 1.8em;
  width: 100%;
}
.recipe_name {
  font-weight: 800;
  font-size: 0.9em;
  border-bottom: 0.1em solid black;
  width: 100%;
}

.recipe_servings {
  font-weight: 800;
  border-bottom: 0.1em solid black;
}
.recipe_link {
  font-weight: 800;
  color: rgb(50, 91, 238);
  margin-top: 1em;
  position: absolute;
  bottom: 10px;
}

.ant-card-cover img {
  height: 12em;
}

.recipes_container {
  margin-bottom: 8em;
}

@media only screen and (max-width: 900px) {
  .card_container {
    display: flex;
    flex-direction: column;
  }

  .not_available {
    width: 15%;
    height: 65%;
  }

  .text_content {
    margin-bottom: 2em;
    margin-left: 1em;
  }
}
